body {
    color: #626262;
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

h3 {
    color: #C0C0C0;
    font-size: 22px;
    font-weight: normal;
    margin: 30px 0 10px;
    padding: 0 30px;
}

p {
    font-size: 14px;
    line-height: 26px;
    margin: 0 30px 20px;
    padding: 0;

}

.img {
    padding: 0 0 30px;
    position: relative;
}

img.my {
    background-color: #000000;
    border: medium none;
    color: #000000;
    display: block;
    max-width: 100%;
}

.paddingtop {
    padding-top: 15px;
}

a {
    color: #88C900;
    text-decoration: none;
    border: none;
}

.linkcolor {
    color: #88C900;
}

a.tag:hover {
    text-decoration: underline;
}

.imageby a:hover {
    text-decoration: underline;
}


/* remove ugly dotted lines around clicked links and buttons in FF */
a { outline: none; }
button::-moz-focus-inner { border: 0; }

/* remove highlight border around selected form controls in Chrome and Safari */
*:focus { outline: none; }

.twittercolor {
    color: #43BFFB;
}

.facebookcolor {
    color: #304EA8;
}

.pinterestcolor {
    color: #CB2028;
}

.rsscolor {
    color: orange;
}


#content {
    margin: 0 auto;
    width: 1150px;
}

#container {
    float: left;
    position: relative;
    width: 800px;
}

.rightcolumn {
    float: right;
    width: 302px;
}

#mobilehead {
    display: none;
}

#head {
    margin: 40px 0 30px;
}

#head h1 {
    margin: 8px 0 30px;
    width: 200px;
}

#head h1 a {
    color: #D6D6D6;
    font-size: 54px;
    font-weight: normal;
    line-height: 52px;
}

#explanation {
    color: #a4a4a4;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 0;
}

.title {
    min-height: 55px;
    padding-bottom: 20px;
    position: relative;
}

#head h2 {
    color: #6d6d6d;
    font-size: 17px;
    font-weight: normal;
    margin: 30px 0 10px;
    padding: 0;
}

.postshort.border {
    border: 1px solid #eaeaea;
    margin-bottom: 70px;
}

.title h2 {
    left: 0;
    margin: 0;
    position: absolute;
    top: 15px;
}
.title h2 a {
    display: block;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    padding: 6px 10px 5px 30px;
}
.title h2.white a {
    background: #000000;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
}
.post h2 {
    color: #808080;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    margin: 25px 0 0;
    padding: 0 30px 25px;
}

#browse h2 {
    color: #808080;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
    padding: 0 0 25px;
}

#menu {
    padding-right: 20px;
}

#menu a {
    color: #6D6D6D;
    display: block;
    padding: 20px 30px;
}

.subscribe {
    color: #e4e4e4;
    padding: 20px 0;
}

.post {
    padding: 0 0 30px;
}

.postshort {
    margin: 0 0 35px;
    padding: 0 0 10px;
}

.continue {
    float: right;
    padding: 0 30px 10px;
    text-align: right;
}

.tags {
    float: left;
    padding: 0 30px 15px;
}

.imageby {
    font-size: 12px;
    height: 14px;
    padding: 2px 30px 2px 5px;
    position: absolute;
    right: 0;
}
.imageby.onpic {
    background: #000000;
    background: rgba(0, 0, 0, 0.8);
    bottom: 35px;
    color: #CBCBCB;
    text-shadow: 1px 1px 2px #000000;
}
.imageby.belowpic {
    bottom: 0;
    color: #626262;
}
.imageby.light {
    background-color: white;
    color: #626262;
    text-shadow: none;
}
.imageby a:focus {
    text-decoration: underline;
}
.imageby em {
    font-family: verdana,arial,sans-serif;
    font-style: normal;
    line-height: 12px;
}

.tagslist {
    float: left;
    line-height: 30px;
    margin-top: 25px;
    padding: 0 30px 30px;
    width: 335px;
}

#footer {
    color: #c0c0c0;
    padding: 15px 0 150px;
}

#footer .subscribe {
    padding: 0 30px 60px;
}

#links {
    padding: 20px 0;
    text-align: right;
}

#links a {
    color: silver;
}

.filtered {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    margin-bottom: 25px;
}

.filteredby {
    background-color: white;
    color: #9a9a9a;
    display: block;
    float: left;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 30px;
}

.filteredby.back {
    width: 666px;
}

.filteredby.close {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    width: 14px;
}

.previous_next {
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    margin-top: 55px;
    padding: 35px 30px;
}

.previous_next .previous {
    float: left;
}

.previous_next .next {
    float: right;
    text-align: right;
}

.previous_next .previous, .previous_next .next {
    font-size: 13px;
    font-weight: bold;
    position: relative;
}

.previous_next a {
    border: none;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 330px;
    height: 210px;
}

.thumb {
    width: 330px;
    height: 210px;
    margin: 0px;
    padding: 0px;
}

.thumb_desc {
    background: #000000;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    bottom: 0;
    color: #FFFFFF;
    right: 0;
    padding: 10px 15px;
    position: absolute;
    width: 300px;
    margin: 0;
}
/* Opera hack */
@media not all and (-webkit-min-device-pixel-ratio:0) { 
    .thumb_desc {
        width: 299px;
    }
}

#share {
    padding: 15px 30px 5px;
}

.share {
    float: left;
    padding: 0 30px 0 0;
}

.gap {
    height: 40px;
    position: relative;
}

.pinterest_btn {
    bottom: 30px;
    left: 30px;
    position: absolute;
}

#wrapper {
    position: relative;
}

#overlay {
    bottom: 45px;
    position: absolute;
    text-align: right;
    width: 800px;
}

#overlay p {
    line-height: 30px;
    margin: 10px 0;
    padding: 0;
}

#overlay p span {
    background-color: white;
    color: #3a3a3a;
    font-size: 17px;
    padding: 5px 30px 5px 10px;
}

#overlay p a {
    color: #EB2700;
}

.unexploredparadises_disqus_thread {
    margin-top: 30px;
    padding: 30px;
}

.tag_info {
    padding: 10px 0 30px;
}

.tag_info h4 {
    color: #808080;
    font-size: 25px;
    font-weight: normal;
    line-height: 25px;
    margin: 25px 0 0;
    padding: 0 30px 25px;
}

.pagination {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    margin-bottom: 40px;
    padding: 15px 0;
}

#secondaryfooter {
    border-top: 1px dotted silver;
    font-size: 16px;
    font-style: italic;
    margin-top: 20px;
    padding: 20px 30px;
}

.bottom_menu {
    padding: 0 30px;
}

#backlinks {
    font-size: 12px;
    margin: 50px 30px 0;
    text-align: center;
}

#backlinks a {
    color: #ff9800;
}

#backlinks a:hover {
    text-decoration: underline;
}




/* ads */

#ads {
    margin-top: 22px;
}

.ad {
    border: 1px solid #dddddd;
    display: block;
    font-size: 20px;
    min-height: 160px;
    padding: 20px 0;
    width: 300px;
}

.pad {
    padding: 5px 20px;
}

.gray {
    color: #656565;
}

.big {
    font-size: 26px;
    margin: 2px 0;
}

.small {
    color: gray;
    font-size: 16px;
    line-height: 25px;
}

.smaller {
    font-size: 14px;
    color: #656565;
}

.minigap {
    width: 100%;
    height: 5px;
}