<div class="filtered">
    <a class="filteredby back" href="/browse" title="back to browsing">
        {% if page.type == "country" %}
            Interesting places in <strong>{{ page.title | replace:'United States','the United States' | replace:'Czech Republic','the Czech Republic' }}</strong>
        {% else %}
            Filtered by {{ page.type }}: <strong>{{ page.title }}</strong>
        {% endif %}
    </a>
    <a href="/" class="close filteredby" title="remove the filter">&times;</a>
    <div class="clear"></div>
</div>

{% for post in site.posts %}
    {% if post.country == page.title %}
        {% include postshort.html %}
    {% endif %}
{% endfor %}