<div class="filtered">
    <a class="filteredby back" href="/browse" title="back to browsing">
        {% if page.type == "country" %}
            Interesting places in <strong>{{ page.tag }}</strong>
        {% else %}
            Filtered by {{ page.type }}: <strong>{{ page.tag }}</strong>
        {% endif %}
    </a>
    <a href="/" class="close filteredby" title="remove the filter">&times;</a>
    <div class="clear"></div>
</div>

{% for post in site.posts %}
    {% for author in post.by %}
        {% if author == page.tag %}
            {% include postshort.html %}
        {% endif %}
    {% endfor %}

    {% if post.country == page.tag %}
        {% include postshort.html %}
    {% endif %}
{% endfor %}