      <div id="footer">

        <div class="subscribe">
          <br /><a class="twittercolor" href="https://twitter.com/unXpl0red">twitter</a> &nbsp;&nbsp; <a class="facebookcolor" href="https://www.facebook.com/unexploredparadises">facebook</a> &nbsp;&nbsp; <a class="pinterestcolor" href="http://www.pinterest.com/unXplored/">pinterest</a> <!-- &nbsp;&nbsp; <a class="rsscolor" href="http://unexploredparadises.eu/feed.xml">RSS</a> -->
        </div>

        <div class="bottom_menu">
          <a href="/">HOME</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a href="/about/">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a href="/submit">SUBMIT</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a href="/browse/">BROWSE</a>
        </div>

        <div id="secondaryfooter">
          {% if page.title == 'Unexplored Paradises' %}
            <strong>Photos of extraordinary travel destinations.</strong>
          {% else %}
            <strong>"off the beaten path" travel inspiration</strong>
          {% endif %}
        </div>

        {% if page.title == 'Unexplored Paradises' %}
        <div id="backlinks">
          <a href="http://photoprobable.com/">Best Photography Sites</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
          <a href="http://www.coolphotoblogs.com/"><b>cool</b>photoblogs</a> - <a href="http://www.coolphotoblogs.com/profile27571">listed</a> &nbsp;&nbsp;|&nbsp;&nbsp; 
          <a href="http://everything-everywhere.com/travel-blog-directory/">Travel Blog Directory</a>
        </div>
        {% endif %}
      </div>

    </div>

    <div class="rightcolumn">
        <div id="ads">

            <a href="http://blog.simplyeasy.cz/how-i-rewired-my-brain-to-really-understand-a-foreign-language/" class="ad" target="_blank">
              <div class="addcontent">
                <div style="font-size: 22px;line-height: 35px;padding: 0 15px;text-transform: uppercase;">How I Rewired My Brain to Really Understand a Foreign Language</div>
              </div>
            </a>

            <a href="http://icanunderstand.eu/" class="ad" target="_blank">
              <img src="http://www.icanunderstand.eu/app/img/man-listening.jpg" alt="">
              <div style="font-size: 17px;font-weight: bold;padding: 10px 20px 0;">LEARNING A LANGUAGE?</div>
              <div class="pad smallest" style="padding-bottom:20px;">Stop translating in your head and learn to understand native speakers.</div>
            </a>

            <a href="http://www.simplyeasy.cz/" class="ad" target="_blank">
              <div class="addcontent">
                <div class="pad">AVAILABLE FOR HIRE</div>
                <div class="pad gray big">Designer &amp; Coder</div>
                <div class="pad small">Striving to create beautiful, simple and functional user experience.</div>
                <div class="minigap"></div>
                <div class="pad smaller">HTML5, CSS3, JavaScript</div>
              </div>
            </a>
        </div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- Pinterest asynchronously -->
  <script type="text/javascript">
  (function(d){
      var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
      p.type = 'text/javascript';
      p.async = true;
      p.src = '//assets.pinterest.com/js/pinit.js';
      f.parentNode.insertBefore(p, f);
  }(document));
  </script>

  </body>
</html>