      <div id="footer">
        <a class="atom-rss" href="/">HOME</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a class="atom-rss" href="/about/">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a class="atom-rss" href="/feed.xml">RSS</a>

        <!-- <div id="links">
            <a href="http://www.unexploredparadises.eu/">unexplored paradises</a>
        </div> -->
      </div>

    </div>

    <div id="rightcolumn">
        <div id="head">
            <h1><a href="/">{{ site.name }}</a></h1>

            <!-- <div id="subscribe">
              &nbsp;<a class="twittercolor" href="/feed.xml">twitter</a> &nbsp;&nbsp; <a class="facebookcolor" href="/feed.xml">facebook</a> &nbsp;&nbsp; <a class="atom-rss" href="/feed.xml">RSS</a>
            </div> -->
        </div>

        <div id="ads">
              
        </div>
    </div>
    <div class="clear"></div>
  </div>
  </body>
</html>