      <div id="footer">

        <div class="subscribe">
          <br /><a class="twittercolor" href="https://twitter.com/unXpl0red">twitter</a> &nbsp;&nbsp; <a class="facebookcolor" href="https://www.facebook.com/unexploredparadises">facebook</a> &nbsp;&nbsp; <a class="pinterestcolor" href="http://www.pinterest.com/unXplored/">pinterest</a> <!-- &nbsp;&nbsp; <a class="rsscolor" href="http://unexploredparadises.eu/feed.xml">RSS</a> -->
        </div>

        <div class="bottom_menu">
          <a href="/">HOME</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a href="/about/">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a href="/submit">SUBMIT</a> &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp; <a href="/browse/">BROWSE</a>
        </div>

        <div id="secondaryfooter">
          {% if page.title == 'Unexplored Paradises' %}
            <strong>Photos of extraordinary travel destinations.</strong>
          {% else %}
            <strong>"off the beaten path" travel inspiration</strong>
          {% endif %}
        </div>

        <div id="backlinks">
          This site is <a href="http://www.coolphotoblogs.com/profile27571">listed</a> at <a href="http://www.coolphotoblogs.com/"><b>cool</b>photoblogs</a>.
        </div>
      </div>

    </div>

    <div class="rightcolumn">
        <div id="ad">
          <div id="ad_ad">AD</div>

          <div id="insert_ad"></div>
        </div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- Pinterest asynchronously -->
  <script type="text/javascript">
  (function(d){
      var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
      p.type = 'text/javascript';
      p.async = true;
      p.src = '//assets.pinterest.com/js/pinit.js';
      f.parentNode.insertBefore(p, f);
  }(document));
  </script>

  <!-- ads -->
  <script src="/js/ads.js"></script>
  </body>
</html>