<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="/i/favicon.ico" />

    {% if page.title != 'Unexplored Paradises' %}
        <title>{{ page.title }}{% if page.country %}, {{ page.country }} - photos{% endif %}{% if page.type %} - photos{% endif %}</title>
    {% else %}
        <title>Photos of extraordinary travel destinations</title>
    {% endif %}
    
    <meta name="description" content="{{ site.description }}" />
    
    <meta content="width=device-width" name="viewport">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <link media="screen and (max-width: 1000px)" type="text/css" rel="stylesheet" href="/css/mobile.css">

    <!--[if lt IE 9]>
        <style>
            .previous_next .previous, .previous_next .next {
                height: 35px;
            }
            .thumb {
                display: none;
            }
        </style>
    <![endif]-->

    <link href='/feed.xml' rel='alternate' type='application/atom+xml'>

    {% if page.title == 'Unexplored Paradises' %}
    <meta name="p:domain_verify" content="f43d001389da6c3fdc0d72c5a8262f1a"/>
    {% endif %}
    

    <!-- Facebook Open Graph -->
    <meta property="fb:app_id" content="{{ site.fbappid }}"/>
    <meta property="og:title" content="{{ page.title }}{% if page.country %}, {{ page.country }}{% endif %}"/>
    <meta property="og:description" content="Photographs of extraordinary travel destinations."/>
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
    {% else %}
    <meta property="og:image" content="{{ site.url }}/i/explore.jpg"/>
    {% endif %}
    {% if page.title == 'Unexplored Paradises' %}
    <meta property="og:url" content="{{ site.url }}/"/>
    <meta property="og:type" content="website"/>
    {% else %}
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace: '/index.html','' }}/"/>
    <meta property="og:type" content="article"/>
    {% endif %}


    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11234868-6', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
  <div id="content">
    <div class="rightcolumn">
        <div id="head">
            <h1><a href="/">{{ site.name }}</a></h1>

            <div id="explanation">
                <a href="/first/">Here is why</a> I started collecting images of extraordinary travel destinations. 
            </div>

            <div class="subscribe">
              &nbsp;<a class="twittercolor" href="https://twitter.com/unXpl0red">twitter</a> &nbsp;&nbsp; <a class="facebookcolor" href="https://www.facebook.com/unexploredparadises">facebook</a> &nbsp;&nbsp; <a class="pinterestcolor" href="http://www.pinterest.com/unXplored/">pinterest</a> &nbsp;&nbsp; <a class="rsscolor" href="http://unexploredparadises.eu/feed.xml">RSS</a>
            </div>
        </div>
    </div>
    <div id="mobilehead">
        <h1><a href="/">{{ site.name }}</a></h1>
    </div>

    <div id="container">

      <div id="menu">
        <a href="/" class="left">home</a>
        
        <a href="/browse" class="right">browse</a>
        <a href="/submit" class="right">submit</a>
        <a href="/about" class="right">about</a>
        <div class="clear"></div>
      </div>