<div class="postshort{% unless post.image %} border{% endunless %}">
    <div class="title">

    {% if post.image %}
        <a href="{{ post.url }}">
            <img class="my" src="{{ post.image }}" width="800" height="{{ post.imageheight }}" alt="{{ post.imagealt }}">
        </a>
        {% unless post.nodarkbg %}<div class="bg"></div>{% endunless %}
        <h2 class="white"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {% if post.imageby %}
        <div class="imageby onpic">
          {{ post.imageby }}
        </div>
        {% endif %}
    </div>

    {% else %}
        <h2 class="dark"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    </div>
    {{ post.excerpt }}
    {% endif %}

    <div class="tags">
        <a href="/browse/{{ post.country | replace:' ','-' | downcase }}" class="tag"><strong>{{ post.country }}</strong></a>

        {% if post.tags.size > 0 %}
             / 
            {% for tag in post.tags %}
                <a href="/browse/{{ tag | replace:' ','-' | downcase }}" class="tag">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
            {% endfor %}
        {% endif %}
    </div>


    <div class="continue"><a href="{{ post.url }}">Continue...</a></div>
    <div class="clear"></div>

</div>