---
layout: default
title: 'unexplored paradises | browse'
---
<div id="browse">

    <div class="tagslist">
    <h2>browse by country</h2>

    {% assign countrys = '' %}
    {% for post in site.posts %}
        {% if country contains post.country %}{% else %}
            <div class="tag">
                <a href="/browse/{{ post.country | replace:' ','-' | downcase }}" class="tag">{{ post.country }}</a>
            </div>
            {% capture country %}{{ country }}{{ post.country }}{% endcapture %}
        {% endif %}
    {% endfor %}
    </div>
    
    
    <div class="tagslist" style="border-left: 1px solid #EAEAEA;">
    <h2>browse by tag</h2>

    {% for tag in site.tags %}
        <div class="tag">
            <a href="/browse/{{ tag | first | replace:' ','-' | downcase }}" class="tag">{{ tag | first }}</a>
        </div>
    {% endfor %}
    </div>

    <div class="clear"></div>

</div>