---
layout: default
title: unexplored paradises | browse
---
<div class="post">

    <h2>browse by country</h2>
    <div class="tagslist">
    {% assign countrys = '' %}
    {% for post in site.posts %}
        {% if country contains post.country %}{% else %}
            <div class="tag">
                <a href="/browse/{{ post.country | replace:' ','-' | downcase }}" class="tag">{{ post.country }}</a>
            </div>
            {% capture country %}{{ country }}{{ post.country }}{% endcapture %}
        {% endif %}
    {% endfor %}
    </div>
    
    <!-- <h2>browse by tag</h2>
    <div class="tagslist">
    {% for tag in site.tags %}
        <div class="tag">
            <a href="/browse/{{ tag | first | replace:' ','-' | downcase }}" class="tag">{{ tag | first }}</a>
        </div>
    {% endfor %}
    </div> -->

    <!-- <h2>browse by author</h2>
    <div class="tagslist">
    {% assign authors = '' %}
    {% for post in site.posts %}
        {% for author in post.by %}
            {% if authors contains author %}{% else %}
                <div class="tag">
                    <a href="/browse/{{ author | replace:' ','-' | downcase }}" class="tag">{{ author }}</a>
                </div>
                {% capture authors %}{{ authors }}{{ author }}{% endcapture %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div> -->
</div>